<html><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"></head>

<body>
    <form action="search" method="get">
        <p>Num of objects to scrape:</p>
        <p><input type="text" name="num"></p>
        <p>search query:</p>
        
        <p><input type="text" name="search_query"></p>

        <p><input type="submit" value="Search!"></p>
       <p>vladislav.abyshkin@yandex.ru</p>

       <!-- </form>
    <form action="validate" method="get">
        <p><input type="text" name="code"></p>
        <p><input type="submit" value="valdinate(doesn't work)"></p>
       </form> -->
</body>

</html>